<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="it.crispybacon.mundial1x2">

    <application
        android:name=".App1x2"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sections.authentication.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".sections.results.ResultsActivity"/>
        <activity android:name=".sections.authentication.AuthenticationActivity"/>
        <activity android:name=".sections.home.HomeActivity"/>
        <activity android:name=".sections.score.ScoreActivity">
        </activity>
    </application>

</manifest>